.container-card-small{
  background-color: white;
  width: 15.5vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #868aa478;
}

.container-card-small .card-small-img img{
  margin: .6rem;
  width: 270px;
  border-radius: 10px ;
}

.container-card-small  .card-small-info {
  padding: .8rem;
  font-size: 14px;
  display: flex;
  gap: .5rem;
  flex-direction: column;
}
.container-card-small  .card-small-info h1{
  color: #2d3949
}
.container-card-small  .card-small-info .card-small-txt{
  display: flex;
  gap: .5rem;
  flex-direction: column;
}
