<nav class="menu-nav">
  <img
    class="user-img"
    src="https://img.freepik.com/psd-gratuitas/ilustracao-3d-de-avatar-ou-perfil-humano_23-2150671142.jpg?w=826&t=st=1706879209~exp=1706879809~hmac=2819cffad5aa23fd16ac43010f764aa456b1ebb0eeb981cfd09ee5903a12b1a1"
    >
  <ul class="menu-ul">
    <li><a href="http://https://github.com/EdOc-PS">github</a></li>
    <li><a href="https://www.linkedin.com/in/eduardo-octávio-284066259/">linkedin</a></li>
    <li><a [routerLink]= "['']" >home </a></li>
  </ul>
</nav>
