<main class="body-principal">

  <div class="title-content">
    <h1>{{title}}</h1>
  </div>
  <div class="info-content">
    <ul>
      <li>4 min</li>
      <li>7.5K people</li>
    </ul>
  </div>
  <div class="txt-content">
    <img src={{photoCover}}>
    <h3>{{title}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae ligula id diam elementum facilisis nec
      vestibulum velit. Integer sed tempor velit.
      Cras dolor sapien, luctus rutrum mauris vel, congue mollis ligula. Nunc ac lectus ac metus interdum dapibus.
      Suspendisse sodales mattis libero vel viverra. Cras viverra justo eu eros mattis luctus. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque dui erat, scelerisque vitae
      sem id, iaculis dignissim turpis. Quisque rhoncus orci dignissim velit pulvinar convallis. Maecenas ornare ac
      tellus nec finibus. Nam eget ex vitae nisl consequat sagittis. Fusce eget condimentum nulla, ut imperdiet ex.
      Etiam non purus nec nunc dapibus pretium quis sodales arcu. Pellentesque habitant morbi tristique senectus et
      netus et malesuada fames ac turpis egestas. Pellentesque congue condimentum nisl in fringilla. Maecenas hendrerit
      in lorem a vehicula. Sed nec velit enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Proin et sem arcu. Vestibulum nec elit at libero fermentum pharetra. In sed justo ac dui efficitur
      feugiat vitae et lacus.</p>
    </div>
</main>
