<main class="body-principal">
  <app-title-blog></app-title-blog>
  <section class="pages-card">

    <app-card-unlock Id="1"
      photo="https://assetsio.reedpopcdn.com/Zelda-Site_9uRMRw2.jpg?width=1200&height=600&fit=crop&enable=upscale&auto=webp"
      title="O melhor Zelda"
      description="Confira os dez melhores jogos da franquia Thel Legend of Zelda"></app-card-unlock>

    <div class="more-cards">
      <app-card-small Id="2"
        photo="https://images.ctfassets.net/s5n2t79q9icq/5uqzoaHDMPNevXnRGlkEo8/a029d39e88118c94c0cde1a252269372/KcPo530Nm_11600x1080.jpg?q=70"
        title="Quem é o novo Doutor"
        description="Por muitas decadas o personagem principal da serie britanica é interpretado por..."></app-card-small>
      <app-card-small Id="3"
        photo="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/04/10/super-mario-bros-movie-capa-trrdd8yxo12a.jpg"
        title="Novo jogo do Mario?"
        description="Por muitas decadas o personagem principal da famosa gigante N vem..."></app-card-small>
      <app-card-small Id="4"
        photo="https://s2-g1.glbimg.com/1ay3tZUi43jj9XuXjwxOCQ6vjDI=/0x0:2500x1664/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2017/n/g/rqYwtVQf2W9nswNwMB3w/gameofthrones.jpg"
        title="O retorno de GOT?" description="Por muitas anos a serie Game of Thrones foi conside..."></app-card-small>
    </div>

  </section>
</main>
